@page "/pagina2"

<div class="card rounded border border-primary">
<div class="card-head bg-primary">
<h3 class="text-center text-white"><strong>Consulta de vacunados</strong></h3>
</div>
</div>

<select class="form-select" aria-label="Default select example" @bind="filtro">
    <option value="" selected>Seleccione filtro</option>
    <option value="Nombre">Nombre</option>
    <option value="Apellido">Apellido</option>
</select>

<input type="text" placeholder="Ej. Nombre: José  /  Ej. Apellido: Mendez" @bind-value="busqueda"/>

<button class="btn btn-light" @onclick="buscarFiltro">Buscar</button>

@if (resultados != null) {
<table class="table">

    <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Dósis</th>
    </tr>

    @foreach (var resultado in resultados)
    {
        <tr>
            <td>@resultado.NOMBRE</td>
            <td>@resultado.APELLIDO</td>
            <td>@resultado.DOSIS</td>
        </tr>
    }

</table>
}

@code {

    [Inject]
    IJSRuntime JS { get; set; }

    List<Root> resultados = null;
    string filtro = "";
    string busqueda = "";

    public void buscarFiltro()
    {
        filtro = (filtro == "") ? "Nombre" : filtro;
        busqueda = (busqueda == "") ? "_" : busqueda;
        var api = $"https://app-vacuna2.herokuapp.com/api/Consultar_V/{filtro}/{busqueda}";
        WebClient cliente = new WebClient();
        var datos = cliente.DownloadString(api);
        resultados = JsonConvert.DeserializeObject<List<Root>>(datos);
    }

    public class Root
    {
        public string NOMBRE { get; set; }
        public string APELLIDO { get; set; }
        public int DOSIS { get; set; }
    }

}
